@charset "UTF-8";
@import url(ress.css);
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.inlblct {
  font-size: 0;
  display: inline-block;
  vertical-align: top; }

.inlblcm {
  font-size: 0;
  display: inline-block;
  vertical-align: middle; }

.inlblcb {
  font-size: 0;
  display: inline-block;
  vertical-align: bottom; }

.boxsizing, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.centering, .imgmask img, .imgmask.noimg p {
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.imgmask {
  overflow: hidden;
  background-color: #CCCCCC; }
  .imgmask.noimg {
    background-color: white; }
    .imgmask.noimg p {
      color: #FFFFFF;
      text-align: center;
      line-height: 1; }

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: transparent; }
  .bx-wrapper .bx-controls {
    margin-top: -50px;
    position: relative;
    display: block; }
  .bx-wrapper .bx-pager {
    padding-top: 0; }

#stmv-area {
  font-size: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle; }
  #stmv-area span {
    font-size: 1.6rem;
    line-height: 1;
    display: inline-block;
    vertical-align: middle; }
    #stmv-area span:first-of-type img {
      width: 60px;
      height: auto; }
      #stmv-area span:first-of-type img:hover {
        cursor: pointer; }
    #stmv-area span:nth-of-type(2) {
      margin-left: .4rem;
      padding: .3rem .5rem;
      border: 1px solid #666;
      border-radius: 4px;
      font-weight: 600; }
  #stmv-area p {
    margin-top: .4rem;
    font-size: 1.2rem; }

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "Noto Sans Japanese","游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

body {
  height: 100%;
  font-size: 16px;
  font-size: 1.6rem; }

a {
  text-decoration: none; }
  a:hover {
    opacity: .6; }

@media screen and (max-width: 767px) {
  .forpc {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .formb {
    display: none !important; } }

.serif, main > h2, #gallery-one main h4, #faq dt::before, #faq dd::before {
  font-family: 'Libre Baskerville', serif; }

.mincho, #contact main > h2 {
  font-family: "Sawarabi Mincho"; }

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }
  #wrapper ul, #wrapper ol {
    list-style-position: inside;
    list-style-type: none; }
  #wrapper img {
    max-width: 100%;
    height: auto; }

header {
  width: 100%;
  background-color: #000;
  position: relative;
  z-index: 9;
  overflow: hidden; }
  header > div {
    top: 50%;
    margin: 0 auto;
    display: block;
    position: relative;
    -webkit-transform: translateY(-50%);
    /* Safari用 */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    header > div > * {
      font-size: 0;
      display: inline-block;
      vertical-align: middle; }
  header h1 {
    margin-left: 15px; }
    header h1 a {
      font-size: 21px;
      font-size: 2.1rem;
      line-height: 1; }
      header h1 a img {
        width: 420px; }
  header ul {
    font-size: 0; }
  header li {
    margin: 0 0 0 2rem;
    display: inline-block;
    vertical-align: bottom; }
    header li:first-of-type {
      margin-left: 0; }
    header li a {
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: 400; }
  header a {
    color: #fff; }
  @media screen and (max-width: 767px) {
    header {
      height: 92px; }
      header > div {
        display: block; }
      header h1 a img {
        width: 70vw; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
      height: 80px; }
      header > div {
        width: 80%; }
      header h1 {
        display: block; }
      header ul {
        margin: 5px 0 0 15px; } }
  @media screen and (min-width: 1025px) {
    header {
      height: 80px; }
      header > div {
        width: 1024px; }
      header ul {
        margin-left: 70px; } }

@media screen and (max-width: 767px) {
  #globalMenu {
    display: none; }
  #rwdMenuWrap {
    width: 100%;
    z-index: 9; }
    #rwdMenuWrap #switchBtnArea {
      width: 60px;
      height: 54px;
      top: 18px;
      right: 15px;
      background: #3c3c3c;
      border-radius: 4px;
      position: absolute;
      z-index: 99; }
    #rwdMenuWrap ul {
      width: 100%;
      display: none;
      font-size: 0;
      background-color: #fff; }
      #rwdMenuWrap ul li {
        display: block; }
        #rwdMenuWrap ul li a {
          padding: 10px 20px;
          font-size: 16px;
          font-size: 1.6rem;
          text-align: left;
          display: block;
          color: #fff;
          background: #3c3c3c; }
  .menu-trigger, .menu-trigger span {
    display: inline-block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .menu-trigger {
    width: 36px;
    height: 32px;
    margin: 10px 12px 0;
    position: relative; }
    .menu-trigger span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #fff;
      border-radius: 4px; }
      .menu-trigger span:nth-of-type(1) {
        top: 0; }
      .menu-trigger span:nth-of-type(2) {
        top: 14px; }
      .menu-trigger span:nth-of-type(3) {
        bottom: 0; }
    .menu-trigger.active span:nth-of-type(1) {
      -webkit-transform: translateY(14px) rotate(-315deg);
      -ms-transform: translateY(14px) rotate(-315deg);
      transform: translateY(14px) rotate(-315deg); }
    .menu-trigger.active span:nth-of-type(2) {
      opacity: 0; }
    .menu-trigger.active span:nth-of-type(3) {
      -webkit-transform: translateY(-14px) rotate(315deg);
      -ms-transform: translateY(-14px) rotate(315deg);
      transform: translateY(-14px) rotate(315deg); } }

main a {
  color: #BF970F;
  font-weight: 500; }

main > h2 {
  margin-bottom: 42px;
  font-size: 24px;
  font-size: 2.4rem; }

@media screen and (max-width: 767px) {
  main {
    width: 92%;
    margin: 30px auto 80px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    width: 80%;
    margin: 80px auto; } }

@media screen and (min-width: 1025px) {
  main {
    width: 1024px;
    margin: 80px auto; } }

.mainimg img {
  width: 100%; }

footer {
  width: 100%;
  text-align: center;
  position: relative; }
  footer > div {
    margin: 0 auto;
    position: relative;
    z-index: 3; }
    footer > div a {
      padding: 6px 9px;
      font-size: 30px;
      font-size: 3rem;
      line-height: 1;
      color: #fff;
      background-color: #3c3c3c;
      border-radius: 4px;
      display: block;
      position: absolute; }
      footer > div a:hover {
        background-color: #000;
        opacity: 1; }
  footer .snsarea {
    margin: 0 auto 80px;
    padding: 80px 2.5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #777; }
    footer .snsarea > div {
      width: 46.5%; }
    footer .snsarea .twittertl {
      border: 1px solid #ccc; }
  footer small {
    padding: 24px 0;
    display: block; }
  @media screen and (max-width: 767px) {
    footer > div {
      width: 92%; }
    footer > div a {
      top: -20px;
      right: 1%; }
    footer ul {
      width: 92%;
      margin: 0 auto;
      padding: .6rem 0;
      display: block;
      border: 1px solid #777;
      border-left: 0;
      border-right: 0;
      font-size: 0; }
      footer ul li {
        margin: 0 0 0 1.6rem;
        display: inline-block;
        vertical-align: middle; }
        footer ul li:first-of-type {
          margin-left: 0; }
        footer ul li a {
          color: #000;
          font-size: 16px;
          font-size: 1.6rem; }
    footer .question {
      padding: .08rem .7rem;
      color: #fff;
      background-color: #000;
      border-radius: 4px;
      font-size: 1.8rem;
      line-height: 1; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    footer > div, footer .snsarea {
      width: 80%; }
    footer > div a {
      top: -30px;
      right: 10%; }
    footer small {
      color: #fff;
      background-color: #000; } }
  @media screen and (min-width: 1025px) {
    footer > div, footer .snsarea {
      width: 1024px; }
    footer > div a {
      top: -30px;
      right: 30px; }
    footer small {
      color: #fff;
      background-color: #000; } }

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style] {
  width: 100% !important; }

#eventarchive {
  font-size: 0; }
  #eventarchive article {
    padding: 16px;
    border: 1px solid #777;
    display: inline-block;
    vertical-align: top; }
    #eventarchive article span {
      margin-bottom: .6rem;
      padding: .4rem .8rem;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 1;
      font-weight: 500;
      color: #fff;
      background-color: #777;
      display: inline-block; }
    #eventarchive article h2 {
      margin-bottom: .8rem;
      font-size: 18px;
      font-size: 1.8rem; }
      #eventarchive article h2 a {
        color: #000; }
    #eventarchive article p {
      margin-top: .4rem;
      font-size: 14px;
      font-size: 1.4rem;
      color: #333; }
    #eventarchive article > a {
      width: 47%;
      margin: 16px 0 0 6%;
      padding: 1.6rem 0;
      font-size: 14px;
      font-size: 1.4rem;
      text-align: center;
      color: #fff;
      background-color: #000;
      display: inline-block;
      vertical-align: middle; }
      #eventarchive article > a:first-of-type {
        margin-left: 0; }
    @media screen and (max-width: 767px) {
      #eventarchive article {
        display: block;
        margin-top: 27px; } }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      #eventarchive article {
        width: 48.5%;
        margin: 3% 0 0 3%; }
        #eventarchive article:nth-of-type(2n+1) {
          margin-left: 0; } }
    @media screen and (min-width: 1025px) {
      #eventarchive article {
        width: 30%;
        margin: 2.5% 0 0 2.5%; } }

#index #eventarchive > a {
  margin-top: 32px;
  padding: 1.2rem;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #777;
  display: block; }

@media screen and (max-width: 767px) {
  #index #eventarchive article:nth-of-type(n+2) {
    display: none; } }

.indeximg {
  display: block; }
  .indeximg li {
    display: block;
    text-align: center; }
    .indeximg li img {
      width: 100%; }

#event-one h3 {
  margin-top: 60px;
  font-family: 'Libre Baskerville', serif;
  font-size: 21px;
  font-size: 2.1rem; }

#event-one article {
  margin-top: 32px; }
  #event-one article > span {
    margin-bottom: 1rem;
    padding: .8rem 1.2rem;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    background-color: #777;
    display: inline-block; }
  #event-one article h2 {
    margin-left: 1.2rem;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.6; }
  #event-one article p {
    margin: 1rem 0 0 1.2rem; }
  #event-one article > a {
    margin: 2rem 0 0 1.2rem;
    padding: .8rem 8rem;
    text-align: center;
    color: #fff;
    background-color: #000;
    display: inline-block; }
    @media screen and (max-width: 767px) {
      #event-one article > a {
        display: block; } }
  #event-one article ul {
    margin: 1.4rem 0 0 1.2rem; }
  #event-one article li {
    margin-top: 1.4rem;
    display: inline-block;
    vertical-align: top; }
    #event-one article li a {
      margin-right: 1rem;
      color: #503f1d; }
      #event-one article li a::before, #event-one article li a::after {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        color: #a17317; }
      #event-one article li a::before {
        margin-right: 0.5rem; }
      #event-one article li a::after {
        margin-left: 0.5rem; }
    #event-one article li p {
      margin: .2rem 0 0 1rem;
      display: inline-block; }
  #event-one article .satellite li a::after {
    content: "\f35d";
    font-weight: bold; }
  #event-one article .gallery li a::after {
    content: "\f03e"; }
  #event-one article .report li {
    padding-left: 2rem;
    text-indent: -1rem;
    display: block; }
    #event-one article .report li a::before {
      content: "\f138";
      font-weight: bold; }
  @media screen and (max-width: 767px) {
    #event-one article li {
      margin-top: 2rem; } }

.galleryarea {
  margin-top: 32px;
  font-size: 0; }
  .galleryarea div {
    display: inline-block;
    vertical-align: top; }
  .galleryarea img {
    width: 100%; }
  .galleryarea a {
    padding-top: 100%;
    display: block;
    overflow: hidden;
    position: relative; }
    .galleryarea a img {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute; }
    .galleryarea a div {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(161, 115, 23, 0.7);
      opacity: 0;
      position: absolute;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .galleryarea a div p {
        top: 50%;
        color: #fff;
        text-align: center;
        display: block;
        position: relative;
        -webkit-transform: translateY(-50%);
        /* Safari用 */
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .galleryarea a div p span {
          font-weight: 300;
          display: block; }
    .galleryarea a:hover {
      opacity: 1; }
    .galleryarea a:hover div {
      opacity: 1; }
  .galleryarea p {
    margin: .5rem 0;
    font-size: 16px;
    font-size: 1.6rem; }
  @media screen and (max-width: 767px) {
    .galleryarea div {
      width: 33.33%; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .galleryarea div {
      width: 25%; } }
  @media screen and (min-width: 1025px) {
    .galleryarea div {
      width: 20%; } }

#wrapper .horizontal img {
  max-width: none;
  width: auto;
  height: 100%; }

#gallery-one main .pagination {
  width: 96%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #gallery-one main .pagination p {
    margin: auto;
    text-align: left; }
    #gallery-one main .pagination p:nth-of-type(2) {
      text-align: center; }
    #gallery-one main .pagination p:nth-of-type(3) {
      text-align: right; }
  #gallery-one main .pagination .prev::before, #gallery-one main .pagination .next::after {
    font-family: "Font Awesome 5 Free";
    color: #a17317;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline-block; }
  #gallery-one main .pagination .prev::before {
    margin-right: .4rem;
    content: "\f100"; }
  #gallery-one main .pagination .next::after {
    margin-left: .4rem;
    content: "\f101"; }

#gallery-one main > img {
  width: 100%;
  margin: 32px 0; }

#gallery-one main h3 span {
  margin-left: .5rem;
  font-weight: normal;
  display: inline-block; }

#gallery-one main h4 {
  font-size: 16px;
  font-size: 1.6rem; }

#gallery-one #infoarea {
  padding: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #eee;
  border-radius: 3px;
  display: block; }
  #gallery-one #infoarea > p {
    margin-top: .8rem; }

#gallery-one .concept {
  margin-top: 1rem;
  padding: 1.2rem;
  background-color: #fff;
  display: block; }
  #gallery-one .concept div {
    margin-top: .4rem; }

@media screen and (max-width: 767px) {
  #gallery-one #infoarea {
    margin-bottom: 16px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #gallery-one section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #gallery-one #infoarea {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-right: 2.5%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  #gallery-one #stmv-area {
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }

@media screen and (min-width: 1025px) {
  #gallery-one section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #gallery-one #infoarea {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-right: 2.5%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  #gallery-one #stmv-area {
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }

#faq dl {
  margin-left: 2rem;
  padding-left: 1em;
  /* 文章のスタート位置。li:beforeが入るスペースを確保*/ }

#faq dt, #faq dd {
  padding-left: 0.4em;
  /* アイコンと文章の間のスペース */
  display: block;
  position: relative; }
  #faq dt::before, #faq dd::before {
    color: #777;
    font-size: 3rem;
    content: "Q";
    /* 例としてハート形のicon-heartの番号*/
    position: absolute;
    left: -1em;
    /* アイコンのスタート位置。左揃えの場合 ul のpadding-leftと同じ値 */
    position: absolute; }

#faq dt {
  margin-top: 6rem;
  padding-bottom: .6rem;
  border-bottom: 1px dashed #777; }
  #faq dt::before {
    top: -1rem;
    /* アイコンの場所を変えたければ適宜変更 */
    content: "Q";
    /* 例としてハート形のicon-heartの番号*/ }

#faq dd {
  margin-top: 2rem; }
  #faq dd::before {
    top: -1rem;
    /* アイコンの場所を変えたければ適宜変更 */
    content: "A";
    /* 例としてハート形のicon-heartの番号*/ }

#faq main section {
  margin-top: 60px;
  padding: 16px;
  background-color: #eee; }

#contact table {
  margin: 30px 0; }
  #contact table th {
    min-width: 160px; }

#contact th, #contact td {
  padding: .8rem 0; }

#contact th span {
  top: -0.05rem;
  margin-left: .1rem;
  color: red;
  font-size: 12px;
  font-size: 1.2rem;
  vertical-align: top;
  position: relative; }

#contact td p {
  margin: .4rem 0 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  font-size: 1.4rem; }

#contact span.wpcf7-list-item-label {
  font-size: 14px;
  font-size: 1.4rem; }

#contact input, #contact textarea {
  width: 100%;
  background-color: #EFEFEF; }

#contact input {
  margin: 0;
  padding: .4rem .8rem;
  font-size: 18px;
  font-size: 1.8rem; }

#contact textarea {
  height: 200px;
  margin-top: .6rem;
  padding: .8rem; }

#contact select {
  padding: .4rem 1rem .4rem .6rem;
  background-color: #EFEFEF; }

#contact input[type="reset"], #contact input[type="submit"] {
  width: auto;
  margin: 1rem auto 0;
  padding: .6rem 1.8rem;
  color: #fff;
  background-color: #777;
  line-height: 1;
  border: 0;
  border-radius: 0;
  display: inline-block; }

#contact .formbtnarea {
  margin-bottom: 2rem;
  text-align: center; }
  #contact .formbtnarea input:nth-of-type(n+2) {
    margin-left: 1rem; }

#contact span.wpcf7-list-item {
  display: inline-block;
  margin: 0; }

@media screen and (max-width: 767px) {
  #contact th, #contact td {
    width: 100%;
    display: block; }
  #contact th {
    padding: .4rem 0;
    background-color: #ccc; }
  #contact td {
    padding-top: 0; }
  #contact table td {
    border: 0; } }

#privacy main {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.8; }
  #privacy main ul {
    margin: 1rem 1rem 0 2rem; }
  #privacy main ul, #privacy main li {
    list-style-type: disc;
    list-style-position: outside; }

#privacy h2 {
  margin: 3rem 0 1rem;
  font-size: 18px;
  font-size: 1.8rem; }

#privacy hr {
  margin-top: 80px; }

@media screen and (max-width: 767px) {
  #privacy main {
    padding: 0 5%; }
    #privacy main hr {
      display: none; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #privacy main {
    padding: 0 40px; } }

@media screen and (min-width: 1025px) {
  #privacy main {
    padding: 0 40px; } }

#list main li {
  margin-top: 2rem;
  list-style-type: decimal; }

#total table {
  border-collapse: collapse; }

/*
th,td{
	padding:.4rem .8rem;
	border:1px solid $subc;
	@include fz(14);
}

th{
	color:$linkc;
	background-color:rgba(161,115,23,.7);
}
td{
	&:first-of-type, &:last-of-type{text-align:right;}
}
*/
